.footer {
    background-color: #1C1C1C;
    height: 190px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    @media screen and (max-width:500px) {
        height: auto;
        width: 100%;
    }

    &__image {
        width: 885px;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width:800px) {
            width: 90%;
        }

        @media screen and (max-width:500px) {
            width: 80%;
        }

        img {
            
            @media screen and (max-width:500px) {
                margin-top: 30px;
                width: 15%;

            }
        }



    }

    span {
        display: block;
        color: #FFFFFF;
        font-size: 12px;
        margin-top: 10px;
        padding: 20px 0;
    }
}